@use "var";
@use "prepared-code";



.choose-picture{
  @extend %displayFlexCenter;
  margin-bottom: 9px;
}

.chose-image{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;

  & + img{
    opacity: 1;
    width: 13px;
    height: 13px;
    margin-right: 9.33px;
  }
}


.chose-photo{
  position: relative;
  width: 138px;
  height: 30px;
  @extend %borderInput;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

// Trash bin button

.garbage-bin{
  @extend %displayFlexCenter;
  background: var.$windowBg;
  box-shadow: none;
  @extend %buttonTextColorSize;
  width: 30px;
  height: 30px;
  z-index: 1;
  & img{
    margin-left: 7px;
  }
}


// .white-square{
//   position: absolute;
//   top: -3px;
//   left: 145px;
//   content: '';
//   width: 35px;
//   height: 35px;
//   background: rgb(197, 33, 33);
//   z-index: 2;
// }

.picture-block{
  margin: auto 0;
}

.choose-picture{
  position: relative;
  top: 0;
}

// .chose-photo input{
//   position: relative;
//   top: 0;
//   width: 20px;
//   height: 20px;  
// }

// .chose-image:after {
//   width: 120px;
//   height: 120px;
//   top: px;
//   left: 0px;
//   position: relative;
//   content: '';
//   display: inline-block;
//   background-color: black;
// }

// .chose-image:checked:after {
//   width: 20px;
//   height: 20px;
//   border-radius: 15px;
//   top: 0px;
//   left: 0px;
//   position: relative;
//   content: '';
//   display: inline-block;
//   visibility: visible;
//   transition: .1s all;
// }


