@use "var";
@use "prepared-code";



.choose-picture{
  @extend %displayFlexCenter;
  margin-bottom: 9px;
}

.chose-image{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;

  & + img{
    opacity: 1;
    width: 13px;
    height: 13px;
    margin-right: 9.33px;
  }
}


.chose-photo{
  position: relative;
  width: 138px;
  height: 30px;
  @extend %borderInput;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

// Trash bin button

.garbage-bin{
  @extend %displayFlexCenter;
  background: var.$windowBg;
  box-shadow: none;
  @extend %buttonTextColorSize;
  width: 30px;
  height: 30px;
  opacity: 1;
  & img{
    margin-left: 7px;
  }
}

.picture-block{
  margin: auto 0;
}

.under-text{
  margin-bottom: 0;
}

.chose-image::selection .garbage-bin{
  opacity:0;
}