
// Font
$textMainSize: 400 15px 'Roboto', sans-serif;
$textUnderEmail:  400 13px 'Roboto', sans-serif;
$textHeaderSize: 500 24px 'Roboto', sans-serif;
// Font Colour
$textMainColor: #545454;
$textUnderEmailColour: #969696;
$buttonColour: #FFFFFF;


//Background    

$mainBg: #f7f7f7;
$windowBg:#FFFFFF;
$buttonBg: #007BFF;


//Border

$borderColor: #E4E4E4;



//Margin    

$marginBottom21px: 21px;

