.garbage-bin, .choose-picture, .form-footer, .inputs, body, .main-window {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}

.chose-photo, input, select, button {
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  max-width: 500px;
  width: 100%;
  height: 38px;
}

.garbage-bin, .button-confirm button {
  background-color: #007BFF;
  color: #FFFFFF;
}

html {
  font: 400 15px "Roboto", sans-serif;
  color: #545454;
  letter-spacing: -0.2px;
}

body {
  background-color: #f7f7f7;
}

.main-window {
  gap: 30px;
  max-width: 1440px;
  width: 100%;
  padding: 9.375% 7.8571%;
  flex-wrap: wrap;
}

.window {
  background-color: #FFFFFF;
  padding: 35px 34px 16px;
  max-width: 570px;
  width: 100%;
  height: 590px;
}

h1 {
  font: 500 24px "Roboto", sans-serif;
  color: black;
}

.garbage-bin, .choose-picture, .form-footer, .inputs, body, .main-window {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}

.chose-photo, input, select, button {
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  max-width: 500px;
  width: 100%;
  height: 38px;
}

.garbage-bin, .button-confirm button {
  background-color: #007BFF;
  color: #FFFFFF;
}

button {
  position: relative;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
}

button:active {
  top: 1px;
  box-shadow: none;
}

button:hover {
  transition: 0.5s linear;
  background-position: -200% 0, 0 0;
}

.garbage-bin, .choose-picture, body, .main-window, .inputs, .form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}

.chose-photo, input, select, button {
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  max-width: 500px;
  width: 100%;
  height: 38px;
}

.garbage-bin, .button-confirm button {
  background-color: #007BFF;
  color: #FFFFFF;
}

.under-text {
  margin-top: 1%;
  font: 400 13px "Roboto", sans-serif;
  color: #969696;
}

select {
  font: 400 13px "Roboto", sans-serif;
  color: #969696;
  padding-left: 10px;
  font-size: 15px;
}

.header {
  margin-bottom: 2.85%;
}

.inputs-one, .inputs-two {
  max-width: 245px;
  width: 100%;
  max-height: 67px;
  height: 100%;
}

.inputs-one .label, .inputs-two .label {
  margin-bottom: 1%;
}

.inputs {
  justify-content: start;
  gap: 12px;
  margin-bottom: 2.857%;
}

.imput-email, .input-email input {
  width: 100%;
}

.gender-selector {
  display: inline-flex;
  align-items: center;
}

.radio-button {
  margin-right: 8px;
}

.button-confirm button {
  padding: 8px 10px;
}

.text-terms {
  max-width: 410px;
  width: 100%;
  text-align: center;
  color: #969696;
  font-weight: 400;
}

a:link {
  color: #FFFFFF;
}

.under-text, .gender-selector, .inputs, .button-confirm, .text-terms, .hr-underline, .input-image, .button-confirm button {
  margin-bottom: 21px;
}

.hr-underline {
  border-color: #e4e4e4;
}

.form-footer {
  gap: 20px;
}

.gender-selector {
  max-height: 20px;
  height: 100%;
}

.form-footer a {
  font-weight: 500;
}

.gender-selector {
  position: relative;
  top: 0;
}

.gender-selector input {
  position: relative;
  top: 0;
  width: 20px;
  height: 20px;
}

.gender-selector label {
  margin-right: 10px;
}

input[type=radio]:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: 0px;
  left: 0px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #E4E4E4;
}

input[type=radio]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: 0px;
  left: 0px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  transition: 0.1s all;
  border: 6.5px solid blue;
}

body, .main-window, .inputs, .form-footer, .choose-picture, .garbage-bin {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}

input, select, button, .chose-photo {
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  max-width: 500px;
  width: 100%;
  height: 38px;
}

.button-confirm button, .garbage-bin {
  background-color: #007BFF;
  color: #FFFFFF;
}

.choose-picture {
  margin-bottom: 9px;
}

.chose-image {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.chose-image + img {
  opacity: 1;
  width: 13px;
  height: 13px;
  margin-right: 9.33px;
}

.chose-photo {
  position: relative;
  width: 138px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.garbage-bin {
  background: #FFFFFF;
  box-shadow: none;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.garbage-bin img {
  margin-left: 7px;
}

.picture-block {
  margin: auto 0;
}

.choose-picture {
  position: relative;
  top: 0;
}

.button-update {
  max-width: 150px;
  width: 100%;
}

.chose-photo {
  max-width: 138px;
  width: 100%;
  max-height: 38px;
  height: 100%;
}

.flex {
  width: 100%;
}

.image-area {
  display: flex;
  max-height: 80px;
  height: 100%;
}

.account-image img {
  width: 80px;
  height: 80px;
  border-color: #FFF;
  border-radius: 50%;
  margin-right: 20px;
}

.text-2 {
  margin-bottom: 0px;
}

.account-image {
  border-color: white;
  position: relative;
  top: 0;
  z-index: 1;
  box-shadow: none;
}

.absolute-image {
  position: absolute;
  box-shadow: none;
  content: "";
  top: 0;
  width: 80.5px;
  height: 80.5px;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 2;
}
.absolute-image span {
  content: "";
  background-color: gray;
}

.relative-img {
  position: relative;
  bottom: 80px;
  content: "";
  z-index: -1;
}

body, .main-window, .inputs, .form-footer, .choose-picture, .garbage-bin {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}

input, select, button, .chose-photo {
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  max-width: 500px;
  width: 100%;
  height: 38px;
}

.button-confirm button, .garbage-bin {
  background-color: #007BFF;
  color: #FFFFFF;
}

.choose-picture {
  margin-bottom: 9px;
}

.chose-image {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.chose-image + img {
  opacity: 1;
  width: 13px;
  height: 13px;
  margin-right: 9.33px;
}

.chose-photo {
  position: relative;
  width: 138px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.garbage-bin {
  background: #FFFFFF;
  box-shadow: none;
  width: 30px;
  height: 30px;
  z-index: 1;
}
.garbage-bin img {
  margin-left: 7px;
}

.picture-block {
  margin: auto 0;
}

.choose-picture {
  position: relative;
  top: 0;
}/*# sourceMappingURL=main.css.map */